PASSCLICKHOUSE=..........
DATABASECLICKHOUSE=.........
USERCLICKHOUSE=.....
HOSTCLICKHOUSE=......
PORTCLICKHOUSE=........
API_URL=...........
GOOGLE_CLIENT_ID=.......
GOOGLE_CLIENT_SECRET=...........
JWT_SECRET=......
POSTGRES_USER=...........
POSTGRES_PASSWORD=...........
POSTGRES_DB=...........
AIRFLOW_DB_CONN=...........
AIRFLOW_ADMIN_USERNAME=...........
AIRFLOW_ADMIN_PASSWORD=...........
AIRFLOW_ADMIN_FIRSTNAME=...........
AIRFLOW_ADMIN_LASTNAME=...........
AIRFLOW_ADMIN_EMAIL=...........